{% extends 'base.html.twig' %}

{% block title %}Suivi des documents{% endblock %}

{% block body %}

	<div style="text-align: center">
		<a style="float: left" class="btn btn-primary" href="{{ path('scola') }}"><-</a>
		<h2 style="display: inline-block;margin: 0 auto">Suppression {{ mode == 0 ? ' de relevés de notes ' : ' d’attestations de réussite ' }}</h2>
	</div>

	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	<div style="margin-top: 40px" class="container">
		{{ form(form) }}
	</div>

	{% if error %}
		<div class="row justify-content-md-center" style="margin-top: 10px;margin-bottom: 10px">
			<div class="bs-component">
				<div class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<p style="text-align: center">{{ error }}</p>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
        $('.custom-file input').change(function (e) {
            if (e.target.files.length)
                $(this).next('.custom-file-label').html(e.target.files[0].name);
            else
                $(this).next('.custom-file-label').html("");
        });
	</script>
{% endblock %}