{% extends 'base.html.twig' %}

{% block title %}Documents de scolarité{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/loader.css') }}">
{% endblock %}

{% block body %}

	<div style="text-align: center">
		<a style="float: left" class="btn btn-primary" href="{{ path('scola') }}"><-</a>
		<h2 style="display: inline-block;margin: 0 auto">Extraction des attestations de réussite</h2>
	</div>

	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	<div id="form_container" style="margin-top: 40px" class="container">
		{{ form(form) }}
	</div>

	{% if cancel %}
		<div class="row justify-content-md-center" style="margin-top: 10px;margin-bottom: 10px">
			<div class="bs-component">
				<div class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<p style="text-align: center">{{ cancel }}.</p>
				</div>
			</div>
		</div>
	{% endif %}

	<div id="anim" style="visibility: hidden" class="centered">
		<div class="loader"></div>
	</div>

{% endblock %}

{% block javascripts %}
	<script>
        var form = document.getElementsByName("import")[0];
        form.addEventListener("submit", function (e) {
            document.getElementById("anim").style.visibility = "visible";
            document.getElementById("form_container").style.opacity = '0.4';
        });

        setupAnim();
        window.onresize = () => setupAnim();

        function setupAnim() {
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            var main = $("#anim");
            $("#anim").css({
                top: ((windowHeight / 2) - (main.height() / 2)) + "px",
                left: ((windowWidth / 2) - (main.width() / 2)) + "px"
            });
        }
	</script>


	<script type="text/javascript">
        $('.custom-file input').change(function (e) {
            if (e.target.files.length)
                $(this).next('.custom-file-label').html(e.target.files[0].name);
            else
                $(this).next('.custom-file-label').html("");
        });
	</script>
{% endblock %}