<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Documents de scolarite{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.uca.fr/v2/css/uca.min.css">

    {#    <link href="https://cdn.uca.fr/menu/css/app.css" rel="stylesheet"> #}
    <link href="https://menu.ent.uca.fr/app.css" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>


<div id="app" data-info="{{ b64Info }}"></div>

{#<script defer src="https://cdn.uca.fr/menu/js/app.js"></script>#}
{#<script defer src="https://cdn.uca.fr/menu/js/chunk-vendors.js"></script>#}
<script type="module" src="https://menu.ent.uca.fr/app.js"></script>
{% block body %}

{% endblock %}

<script src="https://cdn.uca.fr/v2/js/uca.min.js"></script>

</body>
</html>

