{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		html,
		body {
			height: 100%;
		}

		.container {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>

{% endblock %}

{% block body %}

	<div class="container">
		<h2>Maintenance en cours. Reprise du service dans 15 minutes environ.</h2>
	</div>

{% endblock %}