{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.uca.fr/v2/css/uca.min.css">

	<style>
		html,
		body {
			height: 100%;
		}

		.container {
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>

{% endblock %}

{% block body %}

	<div class="container">
		<h3>Maintenance en cours. Reprise du service dans 15 minutes environ.</h3>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.uca.fr/v2/js/uca.min.js"></script>
{% endblock %}