{% extends 'base.html.twig' %}

{% block body %}

	<div style="margin-top: 50px" class="container">
		<div class="row justify-content-md-center">
			<h2>Page introuvable</h2>
		</div>
		<div style="margin-top: 50px" class="row justify-content-md-center">
			<h3>
				<a href="{{ path('home') }}">Accueil</a>
			</h3>
		</div>
	</div>
{% endblock %}